In [1]:
# META DATA - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

    # Developer details: 
        # Name: Harish S
        # Role: Architect
        # Code ownership rights: Harish S
    # Version:
        # Version: V 1.0 (Sept 13 )
            # Developer: Harish S
     
    # Description: The code enables to explore DASK library
    
# CODE - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

# Dependency: 
    # Environment:     
        #Python 3.12

DATA SOURCE : https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page 

Filenames : 
1) fhvhv_tripdata_2024-05.parquet
2) fhvhv_tripdata_2024-06.parquet

### Import Libraries

In [1]:
import dask #import dask library
import os #import os for system operations

In [2]:
import dask.dataframe as dd #import dataframe from dask to load high volume of data

In [4]:
data1=input("enter the path of first file : ")
df1 = dd.read_parquet(data1+'fhvhv_tripdata_2024-05.parquet') # read the first file

In [8]:
df1.head() # visualise first file

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B03404,B03404,2024-04-30 23:55:50,2024-04-30 23:59:00,2024-05-01 00:00:36,2024-05-01 00:38:21,138,21,18.680,...,4.48,0.00,2.5,0.00,47.41,N,N,N,N,N
1,HV0003,B03404,B03404,2024-05-01 00:41:32,2024-05-01 00:47:40,2024-05-01 00:49:40,2024-05-01 00:57:08,21,22,1.710,...,1.03,0.00,0.0,0.00,6.69,N,N,N,N,N
2,HV0003,B03404,B03404,2024-05-01 00:09:01,2024-05-01 00:10:51,2024-05-01 00:11:31,2024-05-01 00:33:51,140,129,5.000,...,2.65,0.75,0.0,0.00,19.82,Y,N,N,N,N
3,HV0003,B03404,B03404,2024-05-01 00:25:43,2024-05-01 00:48:00,2024-05-01 00:48:30,2024-05-01 01:10:17,138,48,9.250,...,3.47,2.75,2.5,0.00,25.28,N,N,N,N,N
4,HV0005,B03406,<NA>,2024-05-01 00:00:08,NaT,2024-05-01 00:09:29,2024-05-01 00:28:51,4,25,4.996,...,2.38,2.75,0.0,6.99,22.24,N,N,N,N,Y

In [9]:
len(df1) # no of rows in the first file

20704538

In [10]:
data2=input("enter the path of second file : ")
df2=dd.read_parquet(data2+'fhvhv_tripdata_2024-06.parquet')

In [11]:
df2.head() # visualise second file

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B03404,B03404,2024-06-01 00:09:50,2024-06-01 00:10:33,2024-06-01 00:13:29,2024-06-01 00:17:29,144,211,0.58,...,2.78,2.75,0.0,7.54,16.66,N,N,N,N,N
1,HV0003,B03404,B03404,2024-06-01 00:25:49,2024-06-01 00:28:05,2024-06-01 00:28:35,2024-06-01 00:36:10,144,249,1.11,...,1.45,2.75,0.0,0.00,7.43,N,N,N,N,N
2,HV0003,B03404,B03404,2024-06-01 00:36:42,2024-06-01 00:42:49,2024-06-01 00:42:55,2024-06-01 01:18:21,249,14,9.61,...,3.99,2.75,0.0,7.94,36.98,N,N,N,N,N
3,HV0003,B03404,B03404,2024-06-01 00:25:11,2024-06-01 00:28:40,2024-06-01 00:32:16,2024-06-01 00:45:38,113,148,1.58,...,3.52,2.75,0.0,0.00,25.60,N,N,N,N,N
4,HV0003,B03404,B03404,2024-06-01 00:08:38,2024-06-01 00:17:19,2024-06-01 00:18:59,2024-06-01 00:35:14,23,214,6.89,...,2.46,0.00,0.0,0.00,18.84,N,N,N,N,N

In [13]:
len(df2) # no of rows in dataframe 2

20123226